/* .homeIcon {
    width: 43px; 
    height: auto;
    display: flex;

    align-items: center;
} */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: 60px;
}

.navLinks {
    display: flex;
    gap: 1rem;
    list-style: none;
    display: flex;

    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navLinks li {
    margin: 0;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchBox {
    display: flex;
    align-items: center;
    margin-right: 0rem;
}

.searchInput {
    width: 30vw;

    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.searchButton {
    width: 45px;
    padding: 0.5rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

}

.logoutButton, .registerButton {
    width: 70px;
    margin-left: 0rem;
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.logoutButton:hover, .registerButton:hover, .searchButton:hover {
    background-color: #005bb5;
}

/*  */
.menuButton {
    height: 48px;
width: 200px;
    display: flex; /* 啟用flexbox排列 */
    align-items: center; /* 垂直居中子元素 */

    margin-left: 1rem;
    margin-right: 1rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton button{

background-color: #333;

    font-size: 1rem;


    width: 70px;
    margin-left: 0rem;
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

}


.navModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 2000;
    padding: 1rem;
}

.navModal.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
    .menuButton {
        display: block;
    }

    .navLinks {
        display: none;
    }
}
