/* 添加到你的 CSS 文件中 */


.searchResults {
    
    position: absolute;
    top: 100%; /* 使其位于搜索框的正下方 */
    left: 0;
    width: 30vw; /* 让下拉框的宽度与搜索框相同 */
    background-color: white;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000; /* 确保下拉框位于其他内容之上 */
    max-height: 300px;
    overflow-y: auto; /* 超出部分显示滚动条 */
}


.searchItem {
    padding: 8px 12px;        /* 每个项目的内边距 */
    cursor: pointer;          /* 鼠标悬停时的指针形状 */
    border-bottom: 1px solid #eee; /* 分隔线 */
}

.searchItem:last-child {
    border-bottom: none;      /* 最后一项不需要分隔线 */
}

.searchItem:hover {
    background-color: #f9f9f9; /* 悬停时的背景色 */
}





.homeIcon {
    width: 44px; 
    height: auto;
    display: flex;

    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: 60px;
}

.navLinks {
    display: flex;
    gap: 1rem;
    list-style: none;
    display: flex;

    align-items: center;
    margin-right: 1rem;
}

.navLinks li {
    margin: 0;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchBox {
position: relative; /* 这确保了下拉框将相对于此容器定位 */

    display: flex;
    align-items: center;
    margin-right: 0rem;
}

.searchInput {
    width: 30vw;

    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.searchButton {
    width: 45px;
    padding: 0.5rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

}

.logoutButton, .registerButton {
    width: 70px;
    margin-left: 0rem;
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.logoutButton:hover, .registerButton:hover, .searchButton:hover {
    background-color: #005bb5;
}



/* 在 Navbar.module.css */
.menuButton {
    /* color: white; */
    /* margin-left: 1rem; */
    margin-right: 1rem;
    width: 100px;
    height: 60px;
}

.navModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 174px;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 2000;
    padding: 1rem;
    color: #ccc;
}


.navModal a { /* 設定超連結樣式 */
    color: white; /* 確保超連結也是白色 */
    text-decoration: none; /* 移除下劃線 */
}

.navModal.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 改為從頂部開始排列，而非居中 */
    align-items: center;
    top: 60px;
}


  @media (max-width: 640px) {
    .menuButton {
        display: block;
    }

    .navLinks {
        display: none;
    }
    .menuButton {
      display: block;  /* 小於640px時顯示按鈕 */
      background: #333;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
    }
    
    .navLinks {
      display: none;  /* 隱藏常規導航鏈接 */
    }
  
    .nav-modal.active {
      display: block;  /* 當彈窗被激活時顯示 */
      position: fixed;
      top: 60px; /* 考慮導航條的高度 */
      left: 0;
      width: 100%;
      background: rgba(0,0,0,0.8);
      z-index: 2000; /* 高於導航條 */
      padding: 1rem;
    }
  }

  @media (min-width: 641px) {

    .menuButton {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: none;
        overflow: hidden;
        position: absolute;
    }
}
  

