.homeIcon {
    width: 43px; /* 根據需要調整圖片大小 */
    height: auto;
    display: flex;

    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.navLinks {
    display: flex;
    gap: 1rem;
    list-style: none;
    display: flex;

    align-items: center;
    margin-right: 1rem;
}

.navLinks li {
    margin: 0;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchBox {
    display: flex;
    align-items: center;
    margin-right: 0rem;
}

.searchInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.searchButton {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

}

.logoutButton, .registerButton {
    margin-left: 0rem;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.logoutButton:hover, .registerButton:hover, .searchButton:hover {
    background-color: #005bb5;
}
