.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;

    height: 50vh;
    /* position: fixed; 
    left: 50px; 
    top: 100px;  */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: #ddd;
}
