/* // app/globals.css */
/* 全局基礎設置 */
* {
  margin: 0; /* 清除內外邊距 */
  padding: 0; /* 清除內外邊距 */
  box-sizing: border-box; /* 將寬高計算方式設為包括邊框和內距 */
}

/* html 和 body 基本設置 */
html,
body {
  background-color: rgb(245, 245, 245); /* 背景色設定為灰色 */
  height: 100%; /* 高度設為100% */
  margin: 0; /* 清除邊距 */
  padding: 0; /* 清除內距 */
}

/* body 進階設置 */
body {
  height: 100vh; /* 高度設為視窗高度 */
  min-height: 100vh; /* 最小高度為視窗高度 */
  width: 100%; /* 寬度設為100% */
  max-width: 100vw; /* 最大寬度為視窗寬度 */
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0); /* 設定陰影（這裡實際上是不顯示陰影） */
  overflow: hidden; 
  /* 隱藏超出部分 */

}




#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 設定最小高度為視窗的高度，確保佔滿整個屏幕 */
  justify-content: space-between; /* 內容分布平均，推動 footer 到底部 */
}

nav, main, footer {
  flex-shrink: 0; /* 防止這些元素在 flex 容器內縮小 */
}

main {
  flex: 1; /* 讓主內容區域彈性擴充，填充其餘空間 */
  background-color: #0388f40c;
}


/* 響應式設計：當屏幕寬度低於800px時的設置 */
@media (max-width: 800px) {

  body {
    overflow-y: visible; /* 允許內容超出時顯示 */
  }
}
